.DS_Store
yablajailed/.theos/*
francemagazinejailed/.theos/*
frenchpropertymagazinejailed/.theos/*
livingfrancemagazine/.theos/*
yablajailed/.DS_Store
francemagazinejailed/.DS_Store
frenchpropertymagazinejailed/.DS_Store
livingfrancemagazine/.DS_Store